/* Fonts */

//PT_Sans
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Ubuntu/Poppins.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ubuntu/Poppins.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ubuntu/Poppins.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ubuntu/Poppins.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Ubuntu/Poppins.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ubuntu/Poppins.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ubuntu/Poppins.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ubuntu/Poppins.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Ubuntu/Poppins.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ubuntu/Poppins.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ubuntu/Poppins.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ubuntu/Poppins.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'ubuntu-bold';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Ubuntu/Ubuntu-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
