{% extends "bases/basic.html" %}
{% load static %}

{% block mainbody %}
<section class="top-category-widget-area pt-90 pb-90" style="height: 46.9em;">
    <div class="container" style="padding-top: 3em;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30">Choose Preference</h3>
                <form action="#">
                    <div class="mt-10">
                        <input type="text" name="name" placeholder="School Name" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'School Name'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Last Name'" required class="single-input">
                    </div>

                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                        <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Address'" required class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="lnr lnr-user" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select>
                                <option value="1">Student</option>
                                <option value="2">Teacher</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group-icon mt-10">
                        <a href="#" class="genric-btn primary circle col-sm-12 col-lg-2">Next</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock mainbody %}