{% extends "bases/basic.html" %}
{% load static %}

{% block mainbody %}
<section class="top-category-widget-area pt-90 pb-90" style="height: 46.9em;">
    <div class="container" style="padding-top: 10em;">
        <div class="row justify-content-center align-items-center">
            <div class=" col-9 row justify-content-center align-items-center">
                <h2 class="mb-30">Congratulations!! Your School Website is Ready.</h2>
                <p>Would you like to view website <a href="#">Click Here</a></p>
                <div class="col-12"></div>
                <small>Would you like to EDIT website <a href="#">Click Here</a></small>
            </div>
        </div>
    </div>
</section>
{% endblock mainbody %}