{% extends "bases/basic.html" %}
{% load static %}

{% block mainbody %}
<section class="top-category-widget-area pt-90 pb-90" style="height: 46.9em;">
    <div class="container" style="padding-top: 3em;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30">School Registration</h3>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mt-10">
                        <input type="text" name="name" placeholder="School Name" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'School Name'" required class="single-input">
                    </div>

                    <div class="mt-10">
                        <input type="text" name="phone_number" placeholder="Phone No."
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Phone No.'" required class="single-input">
                    </div>

                    <div class="mt-10"><small>optional</small></div>
                    <div class=" input-group-append">
                        <input type="file" name="logo" accept="image/*" id="id_thumbnail"
                            class="file-upload-default" style="visibility: hidden; position: absolute;">
                        <div class="input-group-icon">
                            <div class="icon"><i class="lnr lnr-picture"></i></div>
                            <input type="text" name="logo" placeholder="Upload Logo" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Upload Logo'"
                                class="single-input form-control bg-white file-upload-info" disabled>
                        </div>
                        <button type="button" class="genric-btn primary file-upload-browse"
                            style="line-height: 35px;">upload</button>
                    </div>
                    <div class="input-group-icon mt-10">
                        <button type="submit" class="genric-btn primary circle col-sm-12 col-lg-2">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock mainbody %}