{% extends 'school/school_admin/bases/base.html' %}
{% load static %}

{% block mainbody %}
  <div class="grid-margin">
      <div class="card col-lg-12"
          style="border-radius: 10px; border: none; box-shadow: 0px 3px 10px rgba(127, 144, 168, 0.145);">

          <div class="card-body">
              <div class="row">
                  <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
                      <div class="wrapper text-center">
                          <h4 class="card-title">Arithmetic</h4>
                          <p class="card-description">Next Course</p>
                          <a class="btn btn-outline-primary">Click
                              Course</a>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
                      <div class="wrapper text-center">
                          <h4 class="card-title">Displacement Algo</h4>
                          <p class="card-description">Next Course</p>
                          <a class="btn btn-outline-primary">Click
                              Course</a>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                      <div class="wrapper text-center">
                          <h4 class="card-title">Alerts Popups</h4>
                          <p class="card-description">A success message!</p>
                          <a class="btn btn-outline-primary">Click
                              Course</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock mainbody %}