{% load static %}

<header class="header">
    <div class="topbar clearfix">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-6 col-sm-6 text-left">
                    <p>
                        <strong><i class="fa fa-phone"></i></strong> +234 {{ schoolinfo.phone_number }} &nbsp;&nbsp;
                        <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">{{schoolinfo.mail}}</a>
                    </p>
                </div><!-- end left -->
                <div class="col-md-6 col-sm-6 hidden-xs text-right">
                    <div class="social">
                        {% for links in social_link %}
                        <a class="{{links.social_class}}" href="{{links.social_urls}}" data-tooltip="tooltip"
                            data-placement="bottom" title="Facebook"><i class="fa fa-{{links.social_class}}"></i></a>
                        {% endfor %}
                    </div><!-- end social -->
                </div><!-- end left -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end topbar -->

    <div class="container">
        <nav class="navbar navbar-default yamm">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-normal">
                    <a class="navbar-brand" href="{{ school.get_index_url }}">

                        {% if school.logo %}
                        <img src="{{ school.logo.url }}" alt="">
                        {% else %}
                        <h3 style="color: white; font-weight:700; margin-top:auto;">{{school.slug}}</h3>
                        {% endif %}
                    </a>
                </div>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ school.get_index_url }}">Home</a></li>

                    <li><a href="{{ school.get_index_url }}about">About Us</a></li>
                    <li><a href="contactus">Contact</a></li>
                    <li class="iconitem"><a href="#" data-toggle="modal" data-target="#login-modal"><i
                                class="fa fa-search"></i></a></li>
                    <li class="iconitem"><a class="shopicon" href="shop-cart.html"><i class="fa fa-shopping-basket"></i>
                            &nbsp;(0)</a></li>
                </ul>
            </div>
        </nav><!-- end navbar -->
    </div><!-- end container -->
</header>