{% extends 'school/school_admin/bases/base.html' %}
{% load static %}

{% block breadcrumbs %}
<h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2"
        style="background:linear-gradient(100deg, #8490ff 10%, #62bdfc 100%) !important; border-radius: 25px;">
        <i class="mdi mdi-home"></i>
    </span> Course </h3>
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview <i
                class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
    </ul>
</nav>
{% endblock breadcrumbs %}

{% block mainbody %}
<div class="row">
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card card-img-holder text-white"
            style="background: linear-gradient(100deg, #8490ff 10%, #62bdfc 100%); box-shadow: 0px 3px 10px rgba(18, 117, 255, 0.104); border-radius: 10px;">
            <div class="card-body">
                <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
                <h4 class="font-weight-normal mb-3">Welcome <i class="lnr lnr-bubble mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Metalcode</h2>
                <h6 class="card-text h6-bag">Feel free to check navigate pages.</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 grid-margin">
        <div class="card" style="box-shadow: 0px 3px 10px rgba(127, 144, 168, 0.029); border-radius: 10px;">
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="card-title">
                        Students
                    </div>
                    <div class="col-1"></div>
                    <h3 style="font-weight:500;">34,555</h3>
                </div>
                <div class="row justify-content-around">
                    <div class="text-secondary text-small h6-bag">Total Students Count</div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-4 grid-margin">
            <div class="card" style="box-shadow: 0px 3px 10px rgba(127, 144, 168, 0.029); border-radius: 10px;">
                <div class="card-body">
                    <div class="row justify-content-around">
                        <div class="card-title">
                            Teachers
                        </div>
                        <div class="col-1"></div>
                        <h3 style="font-weight:500;">34,555</h3>
                    </div>
                    <div class="row justify-content-around">
                        <div class="text-secondary text-small h6-bag">Total Teachers Count</div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-4 grid-margin">
                <div class="card" style="box-shadow: 0px 3px 10px rgba(127, 144, 168, 0.029); border-radius: 10px;">
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="card-title">
                                Parents
                            </div>
                            <div class="col-1"></div>
                            <h3 style="font-weight:500;">501k</h3>
                        </div>
                        <div class="row justify-content-around">
                            <div class="text-secondary text-small h6-bag">Total Parents Count</div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
</div>

    <div class="row">

        <div class="col-lg-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body p-0 d-flex">
                    <div id="inline-datepicker" class="datepicker datepicker-custom">
                        <div class="datepicker datepicker-inline">
                            <div class="datepicker-days">
                                {{calendar}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-white">Todo</h4>
                    <div class="add-items d-flex">
                        <input type="text" class="form-control todo-list-input"
                            placeholder="What do you need to do today?">
                        <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn"
                            id="add-task">Add</button>
                    </div>
                    <div class="list-wrapper">
                        <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Meeting with Alisa </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li class="completed">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked> Call John </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Create invoice </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Print Statements </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li class="completed">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked> Prepare for presentation
                                    </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Pick up kids from school </label>
                                </div>
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- content-wrapper ends -->
{% endblock mainbody %}