{% load static %}
    
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Favicon-->
	    <link rel="shortcut icon" href="img/fav.png">
	    <!-- Author Meta -->
	    <meta name="author" content="studyfox dev">
	    <!-- Meta Description -->
		<meta name="description" content="Create a beautiful & affordable school website and with out writting any code and also continue
  			                    educational activities online.">
	    <!-- Meta Keyword -->
	    <meta name="keywords" content="">
	    <!-- meta character set -->
	    <meta charset="UTF-8">
	    <!-- Site Title -->
	    <title>Studyfox (home)</title>

	    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	    <!--
			CSS
			============================================= -->
	    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/regcard.css' %}">

