{% extends 'bases/base.html' %}
{% load static %}

{% block mainbody %}
		  	  <!-- start banner Area -->
		  	  <section class="about-banner">
		  	      <div class="container">
		  	          <div class="row d-flex align-items-center justify-content-center">
		  	              <div class="about-content col-lg-12">
		  	                  <h1 class="text-white">
		  	                      Services
		  	                  </h1>
		  	                  <p class="text-white link-nav"><a href="index.html">Home </a> <span
		  	                          class="lnr lnr-arrow-right"></span> <a href="services.html"> Services</a></p>
		  	              </div>
		  	          </div>
		  	      </div>
		  	  </section>
		  	  <!-- End banner Area -->

		  	  <!-- Start services Area -->
		  	  <section class="services-area section-gap">
		  	      <div class="container">
		  	          <div class="row d-flex justify-content-center">
		  	              <div class="menu-content  col-lg-7">
		  	                  <div class="title text-center">
		  	                      <h1 class="mb-10">Offered Services</h1>
		  	                      <p>This are the major products & services that is exclusively offered by studyfox which is an
		  	                          extension from storelinez</p>
		  	                  </div>
		  	              </div>
		  	          </div>
		  	          <div class="row">
		  	              <div class="col-lg-4 col-md-6">
		  	                  <div class="single-services">
		  	                      <span class="lnr lnr-pie-chart"></span>
		  	                      <a href="#">
		  	                          <h4>Web Design</h4>
		  	                      </a>
		  	                      <p>
		  	                          Build amazing website with amazing, responsive beautiful designs and easily change
		  	                          template
		  	                          designs without stress.
		  	                      </p>
		  	                  </div>
		  	              </div>
		  	              <div class="col-lg-4 col-md-6">
		  	                  <div class="single-services">
		  	                      <span class="lnr lnr-laptop-phone"></span>
		  	                      <a href="#">
		  	                          <h4>E-Learning Apps</h4>
		  	                      </a>
		  	                      <p>
		  	                          Continue educational activities for students, upload daily videos, give live classes on
		  	                          our
		  	                          specially designed e-learner app.
		  	                      </p>
		  	                  </div>
		  	              </div>
		  	              <div class="col-lg-4 col-md-6">
		  	                  <div class="single-services">
		  	                      <span class="lnr lnr-lock"></span>
		  	                      <a href="#">
		  	                          <h4>Safe & Secure</h4>
		  	                      </a>
		  	                      <p>
		  	                          We offer high level encryptions for all school websites developed using studyfox
		  	                          technology
		  	                          approved by our top engineers.
		  	                      </p>
		  	                  </div>
		  	              </div>
		  	              <div class="col-lg-4 col-md-6">
		  	                  <div class="single-services">
		  	                      <span class="lnr lnr-users"></span>
		  	                      <a href="#">
		  	                          <h4>Customer Service</h4>
		  	                      </a>
		  	                      <p>
		  	                          Contact our customer service if urgent help is needed. we are here to serve to every need
		  	                          or
		  	                          difficulties you may encounter.
		  	                      </p>
		  	                  </div>
		  	              </div>
		  	              <div class="col-lg-4 col-md-6">
		  	                  <div class="single-services">
		  	                      <span class="lnr lnr-tablet"></span>
		  	                      <a href="#">
		  	                          <h4>Data Management</h4>
		  	                      </a>
		  	                      <p>
		  	                          Manage school, student and teacher's data and keep record of important school data such
		  	                          as
		  	                          past activities, programs, etc.
		  	                      </p>
		  	                  </div>
		  	              </div>
		  	              <div class="col-lg-4 col-md-6">
		  	                  <div class="single-services">
		  	                      <span class="lnr lnr-rocket"></span>
		  	                      <a href="#">
		  	                          <h4>Easy & Fast</h4>
		  	                      </a>
		  	                      <p>
		  	                          With our model you can create website fast & easy without any bump or bugs that are
		  	                          noticed
		  	                          in web builders.
		  	                      </p>
		  	                  </div>
		  	              </div>
		  	          </div>
		  	      </div>
		  	  </section>
		  	  <!-- End services Area -->
		  	  <!-- Start fact Area -->
		  	  <section class="facts-area section-gap" id="facts-area">
		  	      <div class="container">
		  	          <div class="row">
		  	              <div class="col-lg-3 col-md-6 single-fact">
		  	                  <h1 class="counter">2536</h1>
		  	                  <p>Projects Completed</p>
		  	              </div>
		  	              <div class="col-lg-3 col-md-6 single-fact">
		  	                  <h1 class="counter">6784</h1>
		  	                  <p>Happy Clients</p>
		  	              </div>
		  	              <div class="col-lg-3 col-md-6 single-fact">
		  	                  <h1 class="counter">2239</h1>
		  	                  <p>Cups of Coffee</p>
		  	              </div>
		  	              <div class="col-lg-3 col-md-6 single-fact">
		  	                  <h1 class="counter">435</h1>
		  	                  <p>Real Professionals</p>
		  	              </div>
		  	          </div>
		  	      </div>
		  	  </section>
		  	  <!-- end fact Area -->
{% endblock mainbody %}