{% extends 'school/temp/edulogy/base/base.html' %}
{% load static %}

{% block mainbody %}
<section id="home" class="video-section js-height-full">
    <div class="overlay"></div>
    <div class="home-text-wrapper relative container">
        <div class="home-message">
            
            {% if school_home %}
                <p>{{school_home.hero_title}}</p>
                <small>{{school_home.hero_text}}</small>
            {% endif %}
                

            <div class="btn-wrapper">
                <div class="text-center">
                    <a href="about" class="btn btn-primary wow slideInLeft">Read More</a> &nbsp;&nbsp;&nbsp;<a
                        href="contactus" class="btn btn-learn wow slideInRight">Get Started</a>
                </div>
            </div><!-- end row -->
        </div>
    </div>
    <div class="slider-bottom">
        <span>Explore <i class="fa fa-angle-down"></i></span>
    </div>
</section>

{% if personals %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="custom-module">
                        <img src="{% if personals.image %}{{personals.image.url}}{% endif %}" alt=""
                            class="img-responsive wow slideInLeft">
                    </div><!-- end module -->
                </div><!-- end col -->
                <div class="col-md-8">
                    <div class="custom-module p40l">
                        <h2>
                            
                            {% if personals.title %}
                              {{personals.title}}  
                            {% endif %}

                        </h2>

                        <p>
                            
                            {% if personals.description %}
                              {{personals.description}}  
                            {% endif %}

                        </p>

                        <hr class="invis">

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    
                                    {% if singlefeature %}

                                        {% for feature in singlefeature %}

                                        <li>{{feature.feature}}</li>

                                        {% endfor %}

                                    {% endif %}

                                </ul><!-- end check -->
                            </div>
                        </div><!-- end row -->

                        <hr class="invis">

                        <div class="btn-wrapper">
                            <a href="about" class="btn btn-primary">Learn More About us</a>
                        </div>

                    </div><!-- end module -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
{% endif %}

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message text-center">
                    <h3>Howdy, {% if school.name %}{{school.name}}{% endif %} has the best educational activities for
                        your kids taking them to
                        the next
                        future.</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
    

<section class="section db">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">1230</h4>
                    <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i>
                        Happy Students</h3>
                    <p>We keep our Goals by giving our students a future through educational activities. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">331</h4>
                    <h3><i class="flaticon-online-course"></i> Qualified Teachers</h3>
                    <p>We keep our Goals by giving our students a future through educational activities. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">8901</h4>
                    <h3><i class="flaticon-coffee-cup"></i> Graduated Students</h3>
                    <p>We keep our Goals by giving our students a future through educational activities. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="section">
    <div class="container">
        <div class="section-title text-center">
            <h3>Testimonials</h3>
            <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit
                sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
        </div><!-- end title -->

        <div class="row">
            
            {% if schooltestimony %}

                {% for testimony in schooltestimony %}
                {% if testimony.name %}
                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% if testimony.image %}{{testimony.image.url}}{% endif %}" alt="" class="img-circle">
                                    {{testimony.name}}</strong></p>
                            <p>{{testimony.message}}</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->                  
                {% endif %}

                {% endfor %}

            {% endif %}
                
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Recent News</h3>
            <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit
                sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
        </div><!-- end title -->

        <div class="row">
            {% if school_news %}

                {% for news in school_news %}
                <div class="col-lg-4 col-md-12">
                    <div class="blog-box">
                        <div class="image-wrap entry">

                            {% if news.image %}
                            <img src="{{ news.image.url }}" alt="" class="img-responsive">
                            {% endif %}

                            <div class="magnifier">
                                <a href="blog-single.html" title=""><i class="flaticon-add"></i></a>
                            </div>
                        </div><!-- end image-wrap -->

                        <div class="blog-desc">
                            <h4><a href="blog-single.html">{% if news.title %}{{ news.title }}{% endif %}</a></h4>
                            <p>{% if news.description %}{{news.description|truncatewords:18}}{% endif %}</p>
                        </div><!-- end blog-desc -->

                        <div class="post-meta">
                            <ul class="list-inline">
                                <li><a href="#">{% if news.date %}{{news.date}}{% endif %}</a></li>
                                <li><a href="#">by {% if news.user %}{{news.user}}{% endif %}</a></li>
                            </ul>
                        </div><!-- end post-meta -->
                    </div><!-- end blog -->
                </div><!-- end col -->
                {% endfor %}

            {% endif %}

        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="section bgcolor1">
    <div class="container">
        <a href="#">
            <div class="row callout">
                <div class="col-md-4 text-center">
                    <h3>10,000</h3>
                    <h4>Students are graduate today!</h4>
                </div><!-- end col -->

                <div class="col-md-8">
                    <p class="lead">We take our students to a higher standard and give them a future in their career.
                    </p>
                </div>
            </div><!-- end row -->
        </a>
    </div><!-- end container -->
</section>

{% endblock mainbody %}